#本流程是基于onixary/shape-shifter-curse-fabric的工作流程改写
# 手动构建Mod 一般用于发布测试版用 需要 Github Collaborators 里的 Write 权限启动

name: main分支构建  # 开发版 在解决Issues或开发新功能后使用 用于其他玩家测试
on:
  workflow_dispatch: #手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      channel: "dev"
      build_version: ${{ github.run_number }}
    steps:
      - name: 从仓库拉取 addon 代码
        uses: actions/checkout@v4

      # 克隆并构建依赖项
      - name: 克隆 shape-shifter-curse-fabric 源码
        uses: actions/checkout@v4
        with:
          repository: 'onixary/shape-shifter-curse-fabric'
          path: 'shape-shifter-curse-fabric-source'       # 指定克隆到的子目录

      - name: 配置Java环境 (用于依赖项构建)
        uses: actions/setup-java@v4
        with:
          java-version: '17' # 确保 Java 版本一致
          distribution: 'temurin'

      - name: 让依赖项的 gradlew 脚本可执行
        run: chmod +x ./gradlew
        working-directory: ./shape-shifter-curse-fabric-source

      - name: 初始化 Gradle (用于依赖项构建)
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582
        with:
          cache-read-only: false # 允许缓存写入
        working-directory: ./shape-shifter-curse-fabric-source

      - name: 构建并发布 shape-shifter-curse-fabric 到本地仓库
        run: ./gradlew publishToMavenLocal
        working-directory: ./shape-shifter-curse-fabric-source

      # 构建 addon
      - name: 配置Java环境 (用于addon构建)
        uses: actions/setup-java@v4
        with:
          java-version: '17' # 确保Java 版本一致
          distribution: 'temurin'

      - name: 让 addon 的 gradlew 脚本可执行
        run: chmod +x ./gradlew
        working-directory: . # 在 addon 仓库根目录

      - name: 初始化 Gradle (用于addon构建)
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582
        with:
          cache-read-only: false # 允许缓存写入
        working-directory: .

      - name: 构建 addon Mod
        # 传递环境变量
        run: ./gradlew build -Pchannel="${{ env.channel }}" -Pbuild_version="${{ env.build_version }}"
        working-directory: . # 在 addon 仓库根目录

      - name: 发布 addon 构建产物
        uses: actions/upload-artifact@v4.3.3
        with:
          name: "${{ steps.properties.outputs.archives_base_name }}-${{ steps.properties.outputs.mod_version }}-${{ env.channel }}.${{ env.build_version }}"
          path: build/libs/${{ steps.properties.outputs.archives_base_name }}-${{ steps.properties.outputs.mod_version }}-${{ env.channel }}.${{ env.build_version }}.jar
